.link {
  display: flex;
  align-items: center;
  color: #d5d5d5;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  width: 80%;
  padding: 0 2.5%;
  height: 40px;
  border-radius: 4px;
  transition: background-color 0.26s ease-in-out;
}

.link:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}
