.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 6px 0 0 0;
  margin: 0 0 20px 0;
  border-top: 0.5px solid #2d2d2d;
}

.leftContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.textbold {
  margin: 0;
  padding: 0;
  font-size: 16x;
  font-weight: 700;
}

.weight {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
